@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "finder.css";
@import "finderProfile.css";

* {
  font-family: Roboto, sans-serif;
}

html, body {
  max-width: 100%;
}

body {
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

li{
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #adadad;
}
::-webkit-scrollbar-thumb {
  background: #ffd235;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b19222;
}

/* NAVIGATION BAR */

.bg-custom {
  background-color: none;
}

li {
  list-style: none;
}

.navbar__input {
  border: none;
  border-radius: 20px;
  font-size: 1.1em;
  font-weight: bold;
}

.btn-warning,
.btn-outline-warning {
  border-radius: 20px;
  font-size: 1.1em;
}

.navbar__selection,
.navbar__selection option {
  border-radius: 20px;
  font-size: 1.1em;
}

.navbar__list {
  color: white;
  font-size: 1.4em;
}

.welcome-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  margin-top: 45px;
}

.l-con {
  background: url("../images/main-computer.jpg") no-repeat center;
  background-size: cover;
  min-height: fit-content;
  min-width: fit-content;
}

.l-con button {
  background: rgb(0, 0, 0, 0.4);
  font-size: 40px;
}

.l-con h2 {
  color: white;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 0.5em 0;
  font-size: 70px;
}

.r-con {
  color: #ffd235;
}

.r-con__subtitle {
  font-size: 32px;
}

.r-con__title {
  font-size: 42px;
}

.r-con__text {
  font-size: 24px;
}

/* FOOTER */

.footer {
  background-color: #333333;
  color: #FFFFFF;
  font-size: 18px;
}

.b-right {
  border-right: 1px solid #FFFFFF;
  padding-right: 0.5em;
}




















<!-- -->


